#top-bar{
    font-size: 30px;
    text-align: center;
    background-color: rgb(55, 55, 55);
    color: #fff;
    margin: 0;
    padding: 15px;
}

.company-card{
    background-color: rgb(145, 144, 144);
    width: 50%;
    margin-left: 370px;
    text-align: center;
}

#company-name{
    background-color: rgb(55, 55, 55);
    color: #fff;
}