<h2 id="top-bar">List of Companies</h2>

<div *ngIf="companies.length === 0">
  <p>No companies found.</p>
</div>

<div *ngFor="let company of companies" class="companies-block">
  <div class="company-card">
    <h3 id="company-name">{{ company.name }}</h3>
    <p><strong>Description:</strong> {{ company.description }}</p>
    <p><strong>City:</strong> {{ company.city }}</p>
    <p><strong>Address:</strong> {{ company.address }}</p>
    <!-- <button  routerLink="['/vacancies', vacancy.id]">Show Vacancies</button> -->
    <button (click)="navigateToCompany(company.id)">Show Vacancies</button>
  </div>
</div>

