<app-top-bar></app-top-bar>

<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- Условное отображение списка категорий -->
<ul *ngIf="showCategories">
    <div *ngFor="let category of categories">
        <a [routerLink]="['/products', category]">{{ category }}</a>
    </div>
</ul>
<!-- <h1>Hello, {{ title }}</h1>
<ul>
  <li *ngFor="let category of categories">
    <a [routerLink]="['/products', category]">{{ category }}</a>
  </li>
</ul>
<router-outlet></router-outlet>  -->
